* {
    box-sizing: border-box;
}
.body {
    background-color: #fafafa;
}
.container {
    margin: 100px center;
    width: 809px;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.modal {
    position: absolute;
    top: 20%;
    left: 34%;
    background-color: #e6ecf0;
    padding: 20px 0 40px;
    border-radius: 10px;
    width: 450px;
    height: auto;
    text-align: center;
  }
  
.fa-times {
    position: absolute;
    top: 12px;
    right: 12px;
    color: rgba(128, 128, 128, 0.46);
    cursor: pointer;
  }
  
#signup-form {
    width: 100%;
  }
  
#signup-form h2 {
    color: #5f5d60;
    letter-spacing: 1px;
    margin-bottom: 40px;
  }
  
#signup-form input {
    width: 320px;
    margin-bottom: 20px;
    font-size: 12px;
    padding: 12px 12px;
    border: 1px solid #d0d5d8;
    border-radius: 5px;
  }
  

.small-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    width: auto;
    background-image: linear-gradient(-222deg, #ff8494, #ffa9b7);
}


.row{
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    justify-content: right;
    object-position: right;
}
img{
    width: 50px;
    height: 50px;
}
.box{
    border: 5px solid #ff8494;
    background-image: linear-gradient(-222deg, #ff8494, #ffa9b7);
    width: 300px;
    height: fit-content;
    margin: 20px 500px;
    padding: 20px 500px;
}

.box > h1 {
    color: #ffa9b7;
}

#game-article{
    background-image: linear-gradient(-222deg, rgba(255, 132, 148, 0.5), rgba(255, 169, 183, 0.5)),url("genshin-impact-new-years.jpg");
    background-size:cover;
    background-color:#ffa9b7;
}

.light {
    background-color: #fff;
}
.dark {
    margin-left: 65px;
}
.calendar {
    width: 370px;
    box-shadow: 0px 0px 35px -16px rgba(0, 0, 0, 0.75);
    font-family: 'Roboto', sans-serif;
    padding: 20px 30px;
    color: #363b41;
    display: inline-block;
}
.calendar_header {
    border-bottom: 2px solid rgba(0, 0, 0, 0.08);
}
.header_copy {
    color: #a39d9e;
    font-size: 20px;
}
.calendar_plan {
    margin: 20px 0 40px;
}
.cl_plan {
    width: 100%;
    height: 165px;
    background-image: linear-gradient(-222deg, #ff8494, #ffa9b7);
    box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
    padding: 30px;
    color: #fff;
}
.cl_copy {
    font-size: 20px;
    margin: 20px 0;
    display: inline-block;
}
.cl_add {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    margin: 0 0 0 100px;
    color: #c2c2c2;
    padding: 11px 13px;
}
.calendar_events {
    color: #a39d9e;
}
.ce_title {
    font-size: 14px;
}
.event_item {
    margin: 18px 0;
    padding: 5px;
    cursor: pointer;
}
.event_item:hover {
    background-image: linear-gradient(-222deg, #ff8494, #ffa9b7);
    box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
}
.event_item:hover .ei_Dot {
    background-color: #fff;
}
.event_item:hover .ei_Copy, .event_item:hover .ei_Title {
    color: #fff;
}
.ei_Dot, .ei_Title {
    display: inline-block;
}
.ei_Dot {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #a39d9e;
    box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
}
.dot_active {
    background-color: #ff8494;
}
.ei_Title {
    margin-left: 10px;
    color: #363b41;
}
.ei_Copy {
    font-size: 12px;
    margin-left: 27px;
}

