* {
    box-sizing: border-box;
}
.body {
    background-color: #fafafa;
}
body{
    background-image: url(backgroundv2.png);
    background-size: 2560px 1440px 50%;
    animation: moving-background 60s linear infinite;
    }
@keyframes moving-background{
    0%{
        background-position-x: 0%;
    }
    
    100%{
        background-position-x: 100%;
    }
}

h2{
    font-family: 'Roboto', sans-serif;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #fdf0f2;
    padding: 0.5em;
    color: #ff8494;
    font-family: 'Roboto', sans-serif;
    text-shadow:0 0 1px transparent;
    box-shadow: 0px 0px 52px -18px #b81930;    
  }

.top-bar #corner {
    text-align: right;
}

.top-bar a {
    color: #ff8494;
    text-decoration: none;
    display: inline-block;
    padding: 0.5em;
    text-align: center;
  }

.top-bar img {
    align-content: right;
    background-image: linear-gradient( rgba(255, 132, 148, 0.5));
    height: 35px;
    width: 40px;
}
  


.container {
    margin: 100px center;
    width: 809px;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.modal {
    position: absolute;
    top: 20%;
    left: 34%;
    background-color: #fff;
    border: 5px solid #ffa9b7;
    padding: 20px 0 40px;
    border-radius: 10px;
    width: 450px;
    height: auto;
    text-align: center;
  }
  
.fa-times {
    position: absolute;
    top: 12px;
    right: 12px;
    color: rgba(128, 128, 128, 0.46);
    cursor: pointer;
  }
  


.small-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    width: auto;
    background-image: linear-gradient(-222deg, #ff8494, #ffa9b7);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-shadow:0 0 1px transparent;
    box-shadow: 0px 0px 52px -18px #b81930;
}

.small-container img {
    align-content: right;
    background-image: linear-gradient( rgba(255, 132, 148, 0.5));
}


.row{
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    justify-content: right;
    object-position: right;
}
img{
    width: 50px;
    height: 50px;
}
.box{
    border: 5px solid #ff8494;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-image: linear-gradient(-222deg, #ff8494, #ffa9b7);
    box-shadow: 0px 0px 52px -18px #ffa9b7;
    width: 1000px;
    height: fit-content;
    margin: 20px 500px;
    padding: 20px 500px;
}

.box h1 {
    color: #e7e2e2;
    width: 500px;
    height: 200px;
    font-family: 'Roboto', sans-serif;
    text-shadow:0 0 1px transparent;
        

}

#game-article1{
    background-image: linear-gradient(-222deg, rgba(255, 132, 148, 0.5), rgba(255, 169, 183, 0.5)),url("genshin-impact-new-years.jpg");
    background-size:cover;
    background-color:#ffa9b7;
}

#game-article2{
    background-image: linear-gradient(-222deg, rgba(255, 132, 148, 0.5), rgba(255, 169, 183, 0.5)),url("bobbyscar.png");
    background-size:cover;
    background-color:#ffa9b7;
}

#game-article3{
    background-image: linear-gradient(-222deg, rgba(255, 132, 148, 0.5), rgba(255, 169, 183, 0.5)),url("lastofus.png");
    background-size:cover;
    background-color:#ffa9b7;
}

#econ-article1{
    background-image: linear-gradient(-222deg, rgba(255, 132, 148, 0.5), rgba(255, 169, 183, 0.5)),url("bankman.jpg");
    background-size:cover;
    background-color:#ffa9b7;
}

#econ-article2{
    background-image: linear-gradient(-222deg, rgba(255, 132, 148, 0.5), rgba(255, 169, 183, 0.5)),url("tesla.jpg");
    background-size:cover;
    background-color:#ffa9b7;
}

#econ-article3{
    background-image: linear-gradient(-222deg, rgba(255, 132, 148, 0.5), rgba(255, 169, 183, 0.5)),url("cola.jpg");
    background-size:cover;
    background-color:#ffa9b7;
}
#tech-article1{
    background-image: linear-gradient(-222deg, rgba(255, 132, 148, 0.5), rgba(255, 169, 183, 0.5)),url("phone.jpg");
    background-size:cover;
    background-color:#ffa9b7;
}
#tech-article2{
    background-image: linear-gradient(-222deg, rgba(255, 132, 148, 0.5), rgba(255, 169, 183, 0.5)),url("newphones.jpg");
    background-size:cover;
    background-color:#ffa9b7;
}
#tech-article3{
    background-image: linear-gradient(-222deg, rgba(255, 132, 148, 0.5), rgba(255, 169, 183, 0.5)),url("gpu.jpg");
    background-size:cover;
    background-color:#ffa9b7;
}


.light {
    background-color: #fff;
}
.dark {
    margin-left: 65px;
}
.calendar {
    width: 370px;
    height: 750px;
    box-shadow: 0px 0px 35px -16px rgba(0, 0, 0, 0.75);
    font-family: 'Roboto', sans-serif;
    padding: 20px 30px;
    color: #363b41;
    display: inline-block;
}
.calendar_header {
    border-bottom: 2px solid rgba(0, 0, 0, 0.08);
}
.header_copy {
    color: #a39d9e;
    font-size: 20px;
}
.calendar_plan {
    margin: 20px 0 40px;
}
.cl_plan {
    width: 100%;
    height: 165px;
    background-image: linear-gradient(-222deg, #ff8494, #ffa9b7);
    box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
    padding: 30px;
    color: #fff;
}
.cl_copy {
    font-size: 20px;
    margin: 20px 0;
    display: inline-block;
}
.cl_add {
    display: inline-block;
    width: 100px;
    height: 40px;
    border-radius:22px;
    background-image: url('logo.png');
    cursor: pointer;
    margin: 0 0 0 70px;
    color: #c2c2c2;
    padding: 11px 13px;
}
.calendar_events {
    color: #a39d9e;
}
.ce_title {
    font-size: 14px;
}
.event_item {
    margin: 18px 0;
    padding: 5px;
    cursor: pointer;
}
.event_item:hover {
    background-image: linear-gradient(-222deg, #ff8494, #ffa9b7);
    box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
    border-top-left-radius: 10px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 5px;
    color:#fff;
}
.event_item:hover .ei_Dot {
    background-color: #fff;
}
.event_item:hover .ei_Copy, .event_item:hover .ei_Title {
    color: #fff;
}
.ei_Dot, .ei_Title {
    display: inline-block;
}
.ei_Dot {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #a39d9e;
    box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
}
.dot_active {
    background-color: #ff8494;
}
.ei_Title {
    margin-left: 10px;
    color: #363b41;
}
.ei_Copy {
    font-size: 12px;
    margin-left: 27px;
}
